<template>
  <div class="hello">
    <div class="jumbotron">
      <h1>safework<sup>24</sup></h1>
      <p>Универсальное приложение для проведения аудитов, мониторинга нарушений и
      расследования несоотоветствий в области производственной безопасности, складского хранения,
      фармацевтического производства.</p>
      <p><router-link to="/auth/register" class="btn btn-primary btn-lg">Зарегистрироваться</router-link></a></p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
    }
  }
}
</script>

<style scoped>
.jumbotron{
  background: #FFFFFF;
}

</style>
