<template>
    
    <div>
      <h2>Войти в систему</h2>
        <el-form :model="user" label-position="top">
          <el-form-item prop="email" label="Ваш адрес e-mail" 
              :rules="[
                {required: true, message: 'Введите ваш e-mail адрес.', trigger: 'blur'},
                {type: 'email', message: 'Некорректный e-mail адрес', trigger: 'blur, change'},
              ]">
            <el-input v-model="user.email"></el-input>
          </el-form-item>
          <el-form-item label="Ваш пароль" prop="password"
              :rules="[
                {required: true, message: 'Введите пароль', trigger: 'blur'}
              ]">
            <el-input type="password" v-model="user.password" auto-complete="off"></el-input>
          </el-form-item>
          <el-button type="primary">Войти</el-button>
        </el-form>
    </div>

</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      user: {
        email: '',
        password: ''
      },
      error_login: false
    }
  }, 
  methods: {
    login: function(){
      this.error_login = false;
      this.$http.post('/user/login', this.user)
        .then(function(response){
            this.$auth.setToken(res.body.token, Date.now() + 14400000);
            this.$router.push('/dashboard');
        }).catch(function(response){
            if (response.status == 401){
              this.error_login = true;
            }
        });
    }
  }
}
</script>

<style scoped>
</style>
