<template>
    <div>
    <h2>Регистрация в системе</h2>
    <el-form v-model="user" label-position="top" v-if="!success">
        <el-form-item prop="email" label="Ваш адрес e-mail"
          :rules="[
            {required: true, message: 'Введите ваш e-mail адрес.', trigger: 'blur'},
            {type: 'email', message: 'Некорректный e-mail адрес', trigger: 'blur, change'}
          ]">
          <el-input v-model="user.email"></el-input>
        </el-form-item>
        <el-form-item label="Ваш пароль" prop="password"
          :rules="[
            {required: true, message: 'Введите пароль', trigger: 'blur'}
            ]">
          <el-input type="password" v-model="user.password" auto-complete="off"></el-input>
        </el-form-item>
         <el-form-item label="Подтвердите пароль" prop="password"
            :rules="[
              { validator: checkSecondPassword, trigger: 'blur' }
            ]">
          <el-input type="password" v-model="user.password_confirmation" auto-complete="off"></el-input>
        </el-form-item>
        <el-button type="primary" @click="register">Регистрация</el-button>
      </el-form>

      <div v-if="success">
        <h3 class="text-sucess text-center">Пользователь успешно зарегистрирован в системе</h3>
        <p>Досуп к учетной записи осуществялется при помощи почтового адреса <span class="email">{{user.email}}</span> и указанного
        при регистрации пароля.</p>
        <p>Сейчас вы атоматически авторизованы в системе и можете перейти в <router-link to="/dashboard">рабочую область</router-link>.</p>
      </div>

    </div>
</template>

<script>
export default {
  name: 'register',
  data () {
    var checkSecondPassword = (rule, value, callback) => {
      if ( value !== this.user.password){
        callback(new Error('Пароли не совпадают!'));
      } else {
        callback();
      }
    };
    return {
      user: {
        email: '',
        password: '',
        password_confirmation: ''
      },
      entry_errors: {},
      success: false
    }
  },
  methods: {
    register: function(){
      this.errors = {};
      this.$http.post('/user/register', this.user)
        .then(function(response){
          this.success = true;
        }).catch(function(response){
          if (response.status >= 400 && response.status < 500){
            if('body' in response && 'errors' in response.body){
              this.entry_errors = response.body.errors;
            }
          }
        });
    }
  }
}
</script>

<style scoped>
.email {
  color: #0000CD;
  text-decoration: underline;
}

h3 {
  margin-bottom: 20px;
}

</style>