body {
    background: #e6e6e6;
}

.fade-enter-active {
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    opacity: 1;
}
.fade-enter {
    opacity: 0;
}
.fade-leave {
    display: none;
}
.fade-leave-active {
    display: none;
}