<template>
<div class="wrapper">
  <navbar></navbar>
  <el-row class="auth-container">
    <el-col span="8" offset="8" class="auth-component">
      <transition name="fade">
        <router-view></router-view>
      </transition>
    </el-col>
  </el-row>
</div>
</template>

<script>
import Navbar from '@/components/layouts/Navbar'
export default {
  name: 'auth',
  components: {
    Navbar
  },
  data () {
    return {
    }
  }
}
</script>

<style>
.auth-container{
  padding-top: 80px;
}

.auth-component{
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background: #ffffff;
}

.auth-component button{
  margin: 10px 0 0 0;
}

.error {
  font-size: 0.8em;
}

</style>
