<template>
<div class="wrapper">
  <navbar></navbar>
  <sidebar></sidebar>
  <el-row class="container">
    <el-col span="24" class="content">
      <transition name="fade">
        <router-view></router-view>
      </transition>
    </el-col>
  </el-row>
</div>
</template>

<script>
import Sidebar from '@/components/layouts/Sidebar'
import Navbar from '@/components/layouts/Navbar'
export default {
  name: 'common',
  components: {
    Navbar,
    Sidebar
  },
  data () {
    return {
    }
  }
}
</script>

<style>

html, body, .wrapper {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Open Sans', sans-serif; */
.content {
  height: 100%;
  width: 100%;
  padding-top: 70px;
  padding-left: 240px;
  padding-right: 15px;
}

</style>
