<template>

  <el-row gutter="20">
    <el-col span="8" >
      <div class="ds-element"></div>
    </el-col>   
    <el-col span="8">
      <div class="ds-element"></div>
    </el-col>
    </el-col>   
    <el-col span="8">
      <div class="ds-element"></div>
    </el-col>
  </el-row>

</template>

<script>
export default {
  name: 'dashboard',
  components: {
  },
  data () {
    return {
    }
  }
}
</script>

<style>
.ds-element{
  border-radius: 4px;
  min-height: 80px;
  background: #FFFFFF;
}
</style>
