<template>
<div id="app"> 
  <navbar></navbar>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <transition name="fade">
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Navbar from '@/components/layouts/Navbar'
export default {
  name: 'common',
  components: {
    Navbar
  },
  data () {
    return {
    }
  }
}
</script>

<style>
</style>
