<template>
    
    <header>
        <img src="../../assets/logo.png" class="logo">
        <router-link to="/auth/register" class="header-link">Регистрация</router-link>
        <router-link to="/auth/login" class="header-link">Вход</router-link>
    </header>
  
</template>

<script>
export default {
    name: 'navbar',
    data() {
        return{

        }
    }
}
</script>

<style scoped>
.logo{
  margin: 10px 0 7px 20px;
  float: left;
}

header{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #eef1f6;
    z-index: 99;
}

.header-link{
    float: right;
    padding-right: 40px;
    padding-top: 20px;
    text-decoration: none;
    color: #48576a;
}
</style>