<template>
    <el-menu router="true">
      <el-menu-item index="/work/dashboard">Дашборд</el-menu-item>
      <el-menu-item-group title="Компания">
        <el-menu-item index="/work/emploees">Сотрудники</el-menu-item>
        <el-menu-item index="/work/emploees">Объекты</el-menu-item>
        <el-menu-item index="/work/emploees">Комисcии</el-menu-item>
      </el-menu-item-group>
      <el-menu-item index="/work/dashboard">Проверки</el-menu-item>
      <el-menu-item index="/work/dashboard">Чек-листы</el-menu-item>
      <el-menu-item index="/work/dashboard">Нарушения</el-menu-item>
      <el-menu-item index="/work/dashboard">Предписания</el-menu-item>
    </el-menu>
</template>

<script>
export default {
    name: 'sidebar',
    data() {
        return{

        }
    }
}
</script>

<style scoped>
.el-menu {
  height: 100%;
  position: fixed;
  min-width: 230px;
  left: 0px;
  top: 60px;
  z-index: 99;
  font-family: 'Open Sans', sans-serif;
}

.el-menu-item{
    font-size: 1em;
}

.el-menu-item-group .el-menu-item-group__title{
    font-size: 1em;
}
</style>